/* TODO: Needs conformity to Figma AND a clean-up */

* {
    font-family: Montserrat, serif;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(56, 56, 56, 0.6);  /* Darkens the background */
    z-index: 1000;                      /* Ensure popup is in the foreground */

    /* Flexbox to center the modal content */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 40px;
    gap: 20px;

    width: 500px;
    background: #F1F9FB;
    border-radius: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 18px;
}

.popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
}

/* Window close button (x) */
.close-button {
    background: none;
    border: none;
    font-size: 38px;
    font-weight: lighter;
    cursor: pointer;
    color: #A1ACB2;
}

.popup-body {
    font-size: 18px;
    width: 100%;
    color: #333333;
}

.popup-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.cancel-button {
    background: none;
    border: none;
    color: #166276;
    font-size: 18px;
    font-weight: bold;
    /*font-style: normal;
    line-height: 22px;*/
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 8px
}

.confirm-button {
    width: 150px;
    height: 52px;
    padding: 12px 24px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    opacity: 1;
    /*visibility: visible;*/
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* TODO: Effects when hovering is maybe unnecessary? */
/*
.confirm-button:hover {
    background-color: #0A3A5D; !* hover:bg-cyan-900 equivalent *!
    color: #ffffff; !* Ensure text color stays white when hovered *!
}*/
