@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(56, 56, 56, 0.6);  /* Darkens the background */
    z-index: 1000;                      /* Ensure modal is in the foreground */

    /* Flexbox to center the modal */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.modal-body {
    width: 100%;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    @apply text-2xl    /* 24px */
}

/* Window close button (X) */
.close-button {
    @apply text-grayMedium;
    @apply text-4xl;
    font-weight: lighter;
    cursor: pointer;
}

.modal-content {
    @apply text-grayDark;
    @apply bg-secondary;
    font-family: Montserrat, serif;
    @apply text-lg;    /* 18px */
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    gap: 20px;
    width: 500px;
    border-radius: 24px;
}

.action-buttons {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.cancel-button {
    @apply text-primary;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 8px
}

.confirm-button {
    @apply bg-primary !important;
    @apply text-white;
    @apply shadow-md;
    font-weight: bold;
    width: 176px;
    height: 54px;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.confirm-button:hover {
    @apply bg-cyan-900 !important;
}